<ion-content>
  <ion-grid fixed no-padding="">
    <ion-row class="bg-profil-dev" justify-content-center align-items-end>
      <ion-col size="auto">
        <img src="../../../assets/images/avatar.jpg" class="avatar">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed no-padding>
    <ion-row class="mt-4 pt-2 profil-infos">
      <ion-col>
        <ion-row>
          <div class="edit-info-icon"><i class="material-icons">
            edit
          </i></div>
          <ion-col size="12" class="nomprenom pb-0" text-center>{{prenom}} {{nom}}</ion-col>
          <ion-col size="12" class="job" text-center>{{job}}</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="actions-profil">
      <ion-col size="4">
        <ion-row class="h-100" justify-content-center align-items-center>
          <ion-col size="auto">
            <ion-icon name="chatboxes"></ion-icon>
          </ion-col>
          <ion-col>
            Messages
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4" class="cands">
        <ion-row class="h-100" justify-content-center align-items-center>
          <ion-col class="nb-cands text-center">
            {{canditaturesEnCours}} Candidature<br><span>en cours</span>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row class="h-100" justify-content-center align-items-center>
          <ion-col class="nb-offres text-center">
            {{offresEnCours}} offres d'emploi<br><span></span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="edit-infos">
      <ion-col class="p-0">
        <ion-row>
          <ion-col class="edit-cv">
            <ion-row class="h-100" justify-content-center align-items-center>
              <ion-col size="auto">
                <i class="material-icons">
                  edit
                </i>
              </ion-col>
              <ion-col>
                Editer mon CV
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="edit-info">
            <ion-row class="h-100" justify-content-center align-items-center>
              <ion-col size="auto">
                <i class="material-icons">
                  people
                </i>
              </ion-col>
              <ion-col>
                Relations
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      
    </ion-row>
    <ion-row class="statut">
      <ion-col size="12">
        <ion-row>
          <ion-col size="12" class="text-center h3">Votre statut dans le marché de l'emploi</ion-col>
          <ion-col size="12">
            <ion-row justify-content-center>
              <ion-col size="5">
                <ion-row class="h-100">
                  <ion-col class="text-center statut-btn">En recherche de contrat</ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="5">
                <ion-row class="h-100">
                  <ion-col class="text-center statut-btn  ">Ne recherche pas</ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="dashboard">
      <ion-col size="12">
        <ion-row>
          <ion-col class="h2">Tableau de bord</ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12">
        <ion-row>
          <ion-col>
            <ion-row class="h-100 box-dash">
              <ion-col size="12" class="number-dash py-0">14</ion-col>
              <ion-col size="12" class="text-dash py-0">Apparations dans les recherches</ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row class="h-100 box-dash">
              <ion-col size="12" class="number-dash py-0">0</ion-col>
              <ion-col size="12" class="text-dash py-0">Offres épinglés</ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row class="h-100 box-dash" align-items-center>
              <ion-col size="12" class="market-text">état du marché</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
