ion-title{
  --color: #fff;
}
.bg-profil-dev{
  height: 120px;
  background: url('/assets/images/bg-profil-dev.jpg') center right no-repeat;
  background-size: cover;
  /*background: #6c9c35;
  background: -moz-linear-gradient(-45deg, #6c9c35 0%, #b0ff57 100%);
  background: -webkit-linear-gradient(-45deg, #6c9c35 0%,#b0ff57 100%);
  background: linear-gradient(135deg, #6c9c35 0%,#b0ff57 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c9c35', endColorstr='#b0ff57',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    width: 100%;
    height: 120px;
    background: #03A9F4; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #2196F3 0%, #03A9F4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #2196F3 0%,#03A9F4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #2196F3 0%,#03A9F4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c9c35', endColorstr='#b0ff57',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  .avatar{
    border-radius: 50%;
    width: 100px;
    transform: translateY(calc(40% + 5px));
  }
}
.actions-profil{
  color: #fff;
}
.cands{
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  .nb-cands{
    font-size: 14px;
  }
}
.nb-offres{
  font-size: 14px;
  span{
    font-size: 12px;
  }
}
.edit-infos{
  border-top: 3px solid #03A9F4;
  border-bottom: 3px solid #03A9F4;
  color: #fff;
  .edit-cv{
    border-right: 1px solid #03A9F4;
  }
  i{
    font-size: 16px;
    transform: translateY(2px);
  }
}
.profil-infos{
  color: #fff;
  .nomprenom{
    font-size: 20px;
  }
}
.edit-info-icon{
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 0;
  font-size: 16px;
  .edit-info{
    border-left: 1px solid #03A9F4;
  }
}
.statut{
  color: #fff;
}
.dashboard{
  background: #ccc;
  .box-dash{
    box-shadow: 0px 0px 2px 0px #333;
    border-radius: 2px;
    padding: 5px 0;
    .number-dash{
      font-size: 22px;
      line-height: 24px;
      font-weight: 600;
      color: #2196F3;
    }
    .text-dash{
      font-size: 12px;
      line-height: 14px;
    }
    .market-text{
      font-size: 13px;
      text-align: center;
      &::first-letter{
        text-transform: uppercase;
      }
    }
  }
}
.btn-profil{
  background-color: #333;
}
.no-ava{
  border-radius: 50%;
  background-color: #333;
  color: #2196F3;
  font-size: 50px;
  width: 90px !important;
  height: 90px;
  transform: translateY(calc(40% + 5px));
  -webkit-box-shadow: 0px 2px 5px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(255,255,255,1);
  box-shadow: 0px 2px 5px 0px rgba(255,255,255,1);
  display: flex;
  ion-icon{
    margin: auto;
  }
}