ion-content{
  --background: #222;
  --color: #fff;
  .onglet-con{
    color: #fff;
    cursor: pointer;
    button{
      padding: 15px 5px;
      font-size: 18px;
      background-color: #333;
      color: #fff;
      border: 1px solid #555 !important;
      outline-color: transparent !important;
    }
    &.active{
      button{
        color: #fff;
        background-color: #03A9F4 !important;
      }
    }
  }
  .login-item{
    --background: #222;
    --color: #fff;
    --padding-start: 0;
  }
  @media screen and (max-width: 992px){
    .bloc-con{
      height: 350px;
    }
  }
}