.recent{
  background-color: #ccc;
  --padding-start: 15px;
  font-weight: bold;
}
.notif {
  color: #fff;
  border-bottom: 1px solid #ccc;
}
.img-not{
  width: 50px !important;
}
.notif-text{
  font-size: 14px;
  line-height: 16px;
}