<ion-content>
<ion-grid>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" text-center class="title-offre mb-2">{{annonce.titre}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" text-center class="title-lieu  mb-2">{{annonce.entreprise}}</ion-col>
      <ion-col *ngIf="annonce.entreprise == 'Apple'">
        <img src="../../../assets/images/apple.png">
      </ion-col>
      <ion-col *ngIf="annonce.entreprise == 'Altran'">
        <img src="../../../assets/images/altran.png">
      </ion-col>
      <ion-col *ngIf="annonce.entreprise == 'Samsung'">
        <img src="../../../assets/images/samsung.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" text-center class="title-prix mb-2">{{annonce.remuneration}} €</ion-col>
    </ion-row>
    <ion-row justify-content-center class=" mb-2">
      <ion-col size="8" text-center class="btn-primary">Contacter {{annonce.entreprise}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" text-center class="offre-ann mb-2">Description de la mission</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="detail-offre">
        {{annonce.description}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-grid>
</ion-content>
<ion-footer>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col size="12" class="pb-0 offre-title">
            {{annonce.titre}}
          </ion-col>
          <ion-col class="offre-prix-mobile">
            {{annonce.remuneration}} €
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="auto">
        <ion-row class="h-100" align-items-center>
          <ion-col class="btn-primary btn-mobile-contact rounded-circle text-center">
              <ion-icon name="paper-plane"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>