<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Bienvenue sur Start'Dev</ion-card-title>
        <ion-card-subtitle>Tout d'abord remplissez les informations de votre compte.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Merci d'avoir crée votre compte.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>A votre disposition</ion-label>
      </ion-list-header>
      <ion-item href="https://beta.ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Elaboration de votre profil</ion-label>
      </ion-item>
      <ion-item routerLink="/offre-detail">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Recherche d'offres</ion-label>
      </ion-item>
      <ion-item href="https://beta.ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Etude de marché</ion-label>
      </ion-item>
    </ion-list>
  <ion-grid class="p-0">
    <ion-grid fixed class="p-0">
      <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let annonce of annonces">
          <ion-row>
            <ion-col class="box" (click)="goToAnnonce(annonce)">
              <ion-row>
                <ion-col class="box-title pb-0">
                  {{annonce.titre}}
                </ion-col>
                <ion-col size="auto" class="box-options pb-0">
                    <ion-icon name="more" mode="md"></ion-icon>
                  </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="box-remuneration" size="auto">
                  {{annonce.remuneration}} € / j.
                </ion-col>
                <ion-col class="box-name">{{annonce.entreprise}} <span class="date">le 20/04/209</span></ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="box-desc">
                  {{annonce.description}}
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>
